* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #8CC461;
    position: relative;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    /*align-items: center;*/
    height: 15%;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    border: 2px solid white;
    border-radius: 1rem;
}

.score-text {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 2rem;
    justify-content: center;

    color: white;
    /*background-color: blue;*/
}

.board {
    display: flex;
    width: 50%;

    justify-content: flex-end;
}

.score {
    background-color: white;
    height: 80%;
    width: 30%;
    margin-right: 1rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;

    text-align: center;
    padding: 1rem 0.5rem;
}

.score p {
    font-size: 1.5rem;
    padding: 0 1rem;

    font-weight: 600;
    color: #656565;
}

.score span {
    font-size: 4rem;
    font-weight: bolder;

}

.main {

    /*background-color: white;*/
    /*margin-top : 2rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;

}

.first-game-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    gap: 10rem;
}

.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 140px; !* Set the width and height of the container to match the SVG *!*/
    /*height: 140px;*/
    position: relative;
    border-radius: 50%;
}

.game-button svg:hover {
    transform: scale(1.1);
}

.game-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: flex-end;
}

.rock {
    border: 20px solid #0075B7;
}

.paper {
    border: 20px solid #BC01FF;
}

.scissor {
    border: 20px solid #FFA943;

}

.special-button {
    background-color: #8CC461;
    color: white;
    border: 2px solid white;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

#play-again {
    border-radius: 0.5rem;
    border: none;
    background: #FFF;
    color: #6b6b6b;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin: 1rem;
}

#play-again:hover {
    background-color: #8CC461;
    border: 2px solid white;
    color: white;

}

.line {
    position: absolute;
    z-index: -1;

}

.next {
    display: none;
}


.game-rules {
    display: none;
    position: fixed;
    right: 32px;
    bottom: 6rem;
    width: 15%;
    flex-shrink: 0;
    border-radius: 13px;
    border: 7px solid #FFF;
    background: #004429;
    color: white;
    padding: 0.5rem 2rem;

}

.game-rules h1 {
    text-align: center;
}

.game-rules ul {
    list-style-type: square;
}

.game-rules li {
    padding-bottom: 0.5rem;
}

#choice-section {
    display: flex;
}

#match-section {
    display: none;
    flex-direction: row;
    gap: 100px;
}

.game-result {
    font-size: 2rem;
    color: white;
    padding-top: 2rem;
    margin-top: 1rem;
}

.game-result span {
    font-size: 3rem;

}

.game-result button {
    background-color: white;
    color: #6B6B6B;
    font-size: 1rem;
}

.human-pick {
}

.close-button {
    position: absolute;
    right: -0.9rem;
    top: -1.2rem;
    padding: 0.4rem;
    z-index: 300;
    height: 2rem;
    width: 2rem;
    text-align: center;
    background-color: red;
    font-size: 2rem;
    border-radius: 50%;
}


.game-picks {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.game-picks p {
    text-align: center;
    margin-bottom: 1rem;
}


.winner3 {
    padding: 1rem;
    background-color: green;
    border-radius: 50%;
}


/*================= CSS of winner page ================= */
.main-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 8rem;
}

.winning-div {
    font-size: 2.7rem;
    font-family: Roboto;
    color: white;

}

.hurray {


    font-size: 6rem;

}

#trophy-icon {
    position: relative;
    /*text-align: center;*/
}

#star5 {
    position: absolute;
    top: 80%;
    left: 40%;
}

#star1 {
    position: absolute;
    left: 35%;
    top: 20%;
}

#star6 {
    position: absolute;
    right: 35%;
    top: 50%;
}

#star7 {
    position: absolute;
    right: 37%;
}

#star2 {
    position: absolute;
    left: 55%;
    top: -49%;
}


#star4 {
    position: absolute;
    left: 48%;
    top: -25%;
}

#star3 {
    position: absolute;
    left: 43%;
    top: -25%;
}

#star9 {
    position: absolute;
    left: 40%;
    top: -9%;
}

#star1 {
    position: absolute;
}