* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #8CC461;
    position: relative;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    height: 25%;
    width: 50%;
    font-size: 1rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
}

.score-text {
    width: 30%;
    font-size: 3rem;
    padding: 1rem;
    color: white;
    /*background-color: blue;*/
}

.board {
    display: flex;
    width: 50%;

    align-items: center;
}

.score {
    background-color: white;
    height: 80%;
    width: 50%;
    margin-right: 2rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    text-align: center;
}

.score p {
    padding: 0 1rem;
    color: #8c8c8c;

}

.score span {
    font-size: 4rem;
    font-weight: bolder;

}

.main {

    /*background-color: white;*/
    /*margin-top : 2rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;

}

.first-game-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;

}

.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 140px; !* Set the width and height of the container to match the SVG *!*/
    /*height: 140px;*/
    position: relative;
    border-radius: 50%;
}

.game-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: flex-end;
}

.rock {
    border: 20px solid #0075B7;
}

.paper {
    border: 20px solid #BC01FF;
}

.scissor {
    border: 20px solid #FFA943;
    margin-top: 2rem;
}

.special-button {
    background-color: #8CC461;
    color: white;
    border: 2px solid white;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

#play-again {
    border-radius: 0.5rem;
    border: none;
    background: #FFF;
    color: #6B6B6B;
    padding: 1rem;
    margin: 2rem;
}

.line {
    position: absolute;
    z-index: -1;

}

.next {
    display: none;
}


.game-rules {
    display: none;
    position: fixed;
    right: 32px;
    bottom: 6rem;
    width: 15%;
    flex-shrink: 0;
    border-radius: 13px;
    border: 7px solid #FFF;
    background: #004429;
    color: white;
    padding: 0.5rem 2rem;

}

.game-rules h1 {
    text-align: center;
}

.game-rules ul {
    list-style-type: square;
}

.game-rules li {
    padding-bottom: 0.5rem;
}

#choice-section {
    display: flex;
}

#match-section {
    display: none;
    flex-direction: row;
    gap: 100px;
}

.game-result {
    font-size: 2rem;
    color: white;
    padding-top: 2rem;
    margin-top: 1rem;
}

.game-result span {
    font-size: 3rem;

}

.game-result button {
    background-color: white;
    color: #6B6B6B;
    font-size: 1rem;
}

.human-pick {
}

.close-button {
    position: absolute;
    right: -0.9rem;
    top: -1.2rem;
    padding: 0.4rem;
    z-index: 300;
    height: 2rem;
    width: 2rem;
    text-align: center;
    background-color: red;
    font-size: 2rem;
    border-radius: 50%;
}


.game-picks {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.game-picks p {
    text-align: center;
    margin-bottom: 1rem;
}


.winner3 {
    padding: 1rem;
    background-color: green;
    border-radius: 50%;
}
